extends layout

block content
    h2.w3-center  
        b= comp.nome
    .w3-container.w3-margin-bottom 
        ul.w3-ul.w3-card-4  
            li 
                b Data de Nascimento: 
                span= comp.dataNasc
            li 
                b Data de Obito:
                span= comp.dataObito
            li 
                b Período:
                a(href="/periodos/" + comp.periodo)= comp.periodo 
            li 
                b Biografia: 
                p= comp.bio
        
    
    .w3-cell.w3-container.w3-margin-bottom 
        a.w3-button.w3-teal(href="/compositores")
            b Voltar à lista de Compositores
        a.w3-button.w3-blue(href="/compositores/edit/" + comp._id)
            b Editar Compositor
        a.w3-button.w3-red(href="/compositores/delete/" + comp._id)
            b Apagar Compositor
        