extends layout

block content
    .w3-card-4
        header.w3-container(style='background-color:SteelBlue')
            h2(style='color:white')
                b Editar Publicação
        form.w3-container(method="POST")
            fieldset 
                legend Metadata
                label Id
                input.w3-input.w3-round(type="text" name="_id" value=Publicacao._id readonly)
                label Curso
                select.w3-select.w3-round(name="cursoId" id="cursoId")
                    each curso in Cursos
                        if curso._id === Publicacao.cursoId
                            option(value=curso._id selected)= curso.designacao
                        else
                            option(value=curso._id)= curso.designacao
                label Recurso
                select#recursoSelect.w3-select.w3-round(name="idRecurso")
                    each recurso in Recursos
                        if recurso._id === Publicacao.idRecurso
                            option(value=recurso._id)= recurso.titulo
                label Conteudo
                textarea.w3-input.w3-round(name="conteudo")= Publicacao.conteudo
                label Autor
                input.w3-input.w3-round(type="text" name="autor" value=Publicacao.autor readonly)

            br
            button.w3-btn.w3-green.w3-mb-2(type="submit") 
                b Guardar
    script.
        var Recursos = !{JSON.stringify(Recursos)};
        document.getElementById('cursoId').addEventListener('change', function() {
            var cursoId = this.value;
            var recursoSelect = document.getElementById('recursoSelect');
            recursoSelect.innerHTML = '<option value="" disabled selected>Selecione um Recurso</option>';
            Recursos.forEach(function(recurso) {
                if (recurso.cursoId === cursoId) {
                    var option = document.createElement('option');
                    option.value = recurso._id;
                    option.textContent = recurso.titulo;
                    recursoSelect.appendChild(option);
                }
            });
        });
