extends layout

block content
    div.w3-card-4
        header.w3-container(style='background-color:SteelBlue')
            h1(style='color: white;')
                b Perfil
        div.w3-container
            h2
                b Informações do utilizador:
            ul.w3-ul
                li
                    b Nome: 
                    span= user.name 
                li
                    b Email: 
                    span= user.email
                li
                    b Tipo Utilizador: 
                    if (user.role == 0)
                        span Consumidor (Aluno)
                    else if (user.role == 1)
                        span Produtor (Docente)
                    else if (user.role == 2)
                        span Administrador
                li
                    b Data Criação: 
                    span= user.dateCreated
        div.w3-container
            a.w3-button.w3-margin(onClick="document.getElementById('chgProfileInfo').style.display='block'" style='background-color:SteelBlue; color : white') 
                b Editar Perfil
            a.w3-button.w3-red(onClick="document.getElementById('chgPasswdModal').style.display='block'") 
                b Alterar Password

    .w3-modal(id='chgProfileInfo')
        .w3-modal-content.w3-animate-zoom(style='padding: 0px')
            header.w3-container.w3-margim-bottom(style='background-color:SteelBlue')
                span.w3-button.w3-display-topright(onclick="document.getElementById('chgProfileInfo').style.display='none'")
                    i.fa-solid.fa-xmark
                h2(style='color: white;')
                    b Editar Perfil
            .w3-container.w3-margin-top
                form(action='/profile/edit' method='POST')
                    label(for="name") 
                      i.fa-regular.fa-user
                      b   Nome:
                    input.w3-input(type="text" id="name" name="name" placeholder="Nome" value=user.name required)
                    label(for="email") 
                      i.fa-regular.fa-envelope
                      b   Email:
                    input.w3-input(type="email" id="email" name="email" placeholder="Email" value=user.email required)
                    button.w3-button.w3-margin-bottom(type="submit" style='background-color:SteelBlue; color : white') 
                        b Guardar Alterações
                    
    .w3-modal(id='chgPasswdModal')
        .w3-modal-content.w3-animate-zoom(style='padding: 0px')
            header.w3-container.w3-margim-bottom(style='background-color:SteelBlue')
                span.w3-button.w3-display-topright(onclick="document.getElementById('chgPasswdModal').style.display='none'")
                    i.fa-solid.fa-xmark
                h2(style='color: white;')
                    b Alterar Password
            .w3-container.w3-margin-top
                form(action="/profile/password/edit" method="POST")
                    label(for="old")
                        b Password atual:
                    input.w3-input.pwd(type="password" id="old" name="old" required)
                    i.passwordToggle.fa-solid.fa-eye-slash(style='cursor : pointer')
                    label(for="new")
                        b Nova Password:
                    input.w3-input.pwd(type="password" id="new" name="new" required)
                    label(for="confirm")
                        b Confirmar Nova Password:
                    input.w3-input.pwd(type="password" id="confirm" name="confirm" required)
                    button.w3-button.w3-margin-bottom(type="submit" style='background-color:SteelBlue; color : white') 
                        b Alterar Password

    script(src='/javascripts/password.js')
